/*  Button
-------------------------- */
$--button-height: 32px;
$--button-bg: white;
$--button-active-bg: #eee;
$--button-radius: 4px;
$--color: #333;
$--border-color: #999;
$--border-color-hover: #666;

/* Font-size
-------------------------- */
$--font-size: 14px;


/*  Utils
-------------------------- */
//@import "utils.scss";
